/* GLOBALES */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

:root {
  --text-primary-color: #212121;
  --text-secondary-color: #757575;
  --skyblue-color: #2196f3;
  --background-bodycolor: #f5f4fa;
  --background-headerfooter-color: #2f303a;
  --color-white-100: #fff;
  --primary-fontFamily: 'Roboto', sans-serif;
  --secondary-fontFamily: 'Raleway', sans-serif;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--primary-fontFamily);
  font-size: 1.6rem;
  margin: 0;
}

.container {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 4.4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

/* AQUI TERMINA LOS GLOBALES */

/* HEADER */

.header {
  display: flex;
  justify-content: left;
  align-items: center;
}

header {
  padding: 1.4805rem 0rem;
}

.header__logo,
.footer__logo {
  text-decoration: none;
  font-family: var(--secondary-fontFamily);
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--skyblue-color);
  display: block;
  margin: 0 9.3rem 0 0;
  padding: 0rem;
}

.navbar {
  margin-right: 31.4rem;
}

.navbar__link {
  position: relative;
  color: var(--text-primary-color);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-right: 3rem;
}

.navbar__link:focus,
.footer__logo:focus,
.header__logo:focus {
  color: var(--skyblue-color);
  outline: none;
}

.navbar__link--current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.4rem;
  background-color: var(--skyblue-color);
  top: 4.48rem;
  left: 0rem;
  border-radius: 0.2rem;
}

.navbar__link--current {
  color: var(--skyblue-color);
}

.contact__link {
  color: var(--text-secondary-color);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-right: 5rem;
}

.contact__icon {
  fill: var(--text-secondary-color);
}

.contact__link:last-of-type {
  margin: 0 0 0 3rem;
}

.contact__info {
  margin-left: 1rem;
}

.contact__link--current:hover .contact__icon,
.contact__link--current:focus .contact__icon {
  fill: var(--skyblue-color);
  outline: none;
}

.contact__link {
  margin-right: 0rem;
}

.navbar__link,
.contact__link {
  transition: color 0.25s var(--cubic-bezier);
}

.navbar__link:hover,
.contact__link:hover {
  color: var(--skyblue-color);
}

.navbar__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__link {
  margin-right: 5rem;
}

/* EMPIEZA EL  MAIN */

/* seccion de la imagen encabezado linea 49 a la 54 del codigo index.html */

.main-line {
  border-top: 0.1rem solid #ececec;
}

.hero__solution {
  max-width: 160rem;
  margin: 0 auto;
}

.hero__solution {
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/img-hero-min-1.png);
  background-size: 100%, 160rem;
  background-repeat: no-repeat;
}
.hero__solution {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__solution {
  background-color: var(--background-headerfooter-color);
  padding: 20rem 0rem;
  text-align: center;
}

.hero__title {
  font-size: 4.4rem;
  color: var(--color-white-100);
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  width: 43.5%;
}

/* BOTON REUTILIZABLE -- LINEA 55 butto="btnModal" */

.btnModal {
  color: var(--color-white-100);
  background-color: var(--skyblue-color);
  font-size: 1.6rem;
  width: 26.1rem;
  display: block;
  margin: 3rem auto 0 auto;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 0.4rem;
  padding: 1.7rem 3.2rem;
  line-height: 1;
  transition: background-color 0.25s var(--cubic-bezier);
}

.btnModal:hover {
  background-color: rgb(35, 134, 214);
  transform: scale(1.01);
}

/* SECCION "NUESTRO EQUIPO" -- INICIA EN LA LINEA 55 Y TERMINA EN LA LINEA 106 DEL CODIGO  INDEX.HTML */

.mission {
  padding: 9.4rem 0 0 0;
}

.mission__title {
  color: var(--text-primary-color);
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  padding-top: 3rem;
}

.mission__text {
  color: var(--text-secondary-color);
  font-size: 1.4rem;
  line-height: 1.72;
  letter-spacing: 0.03em;
}

.mission__list {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}

.mission__item {
  flex-basis: calc(22.5%);
}

.mission__link {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2.5rem 0;
  background: rgba(245, 244, 250, 1);
  margin-bottom: 3rem;
}

.mission__link {
  margin: 0 auto;
}

/* SECCION "A QUE NOS DEDICAMOS" -- INICIA EN LA LINEA 108 Y TERMINA EN LA LINEA 141 DEL CODIGO  INDEX.HTML */

.services {
  padding-bottom: 9.4rem;
}

.services__title,
.customers__title {
  color: var(--text-primary-color);
  font-weight: 700;
  line-height: 1.166;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 5.5rem 0;
}

.services__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.services__item {
  position: relative;
}
.services__text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services__text {
  position: absolute;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--color-white-100);
  background-color: rgba(47, 48, 58, 0.8);
  width: 36.9rem;
  height: 7rem;
  top: 22.4rem;
  margin: 0rem;
}
/* SECCION "NUESTRO EQUIPO" -- INICIA EN LA LINEA 142 Y TERMINA EN LA LINEA 308 DEL CODIGO  INDEX.HTML */

.teams {
  padding: 9.4rem 0 9.4rem 0;
  background-color: var(--background-bodycolor);
}

.teams__title {
  color: var(--text-primary-color);
  font-weight: 700;
  line-height: 1.166;
  letter-spacing: 0.03em;
  padding-bottom: 5rem;
  text-align: center;
}

.teams__list {
  display: flex;
  justify-content: space-evenly;
}

.teams__item {
  flex-basis: calc(22.5%);
  text-align: center;
  background-color: var(--color-white-100);
  padding-bottom: 3rem;
  border-radius: 0 0 0.4rem 0.4rem;
}

.teams__item {
  box-shadow: 0rem 0.2rem 0.1rem rgba(0, 0, 0, 0.4);
}

.teams__item--effect:hover {
  /* transform: translateY(-3%);*/
  box-shadow: 0rem 0.35rem 1.5rem rgba(0, 0, 0, 0.2);
}

.teams__title-member {
  font-weight: 500;
  line-height: 1.187;
  letter-spacing: 0.03em;
  padding-top: 3rem;
}

.teams__text {
  color: var(--text-secondary-color);
  font-weight: 400;
  line-height: 1.187;
  letter-spacing: 0.03em;
  padding: 1rem 0 1.6rem 0;
  margin: 0;
}

/* codigo de los botones de las redes sociales inicia en la linea 155 hasta la 184 codigo index.html */

.socialNetwork {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0;
  margin-top: 2rem;
}

.socialNetwork__link {
  position: relative;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialNetwork__link {
  border-radius: 5rem;
  height: 4.4rem;
  width: 4.4rem;
  transition: background 0.25s var(--cubic-bezier);
}

.socialNetwork__link:hover {
  background: var(--skyblue-color);
}
.socialNetwork__link--effects:focus,
.socialNetwork__link--effects:focus .socialNetwork__icon {
  fill: white;
  background: var(--skyblue-color);
  outline: none;
}
.socialNetwork__icon--footer {
  fill: white !important;
}

.socialNetwork__icon {
  transition: fill 0.25s var(--cubic-bezier);
  fill: var(--text-secondary-color);
}

.socialNetwork__icon--move {
  position: absolute;
  top: 12px;
  left: 12px;
}
.socialNetwork__link--effects:hover .socialNetwork__icon {
  fill: #fff;
}

/* SECCION "NUESTRO EQUIPO" -- INICIA EN LA LINEA 309 Y TERMINA EN LA LINEA 343 DEL CODIGO  INDEX.HTML */

.customers__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-bottom: 8.2rem;
}

.customers__item {
  padding: 1.09rem 3.2rem;
  fill: #afb1b8;
  border: 0.1rem solid #afb1b8;
  border-radius: 0.4rem;
  transition: border 0.25s var(--cubic-bezier);
}
.customers__item:hover,
.customers__item:focus {
  fill: var(--skyblue-color);
  border: 1px solid var(--skyblue-color);
  outline: none;
}
.customers__item:hover .customers__icon,
.customers__item:focus .customers__icon {
  fill: var(--skyblue-color);
  outline: none;
}

.customers__icon {
  transition: fill 0.25s var(--cubic-bezier);
}

.customers__icon:hover,
.customers__icon:focus {
  fill: var(--skyblue-color);
}

.footer {
  background-color: var(--background-headerfooter-color);
  padding-bottom: 4rem;
}

.footer__list {
  padding: 0rem;
  margin: 0rem;
}

.footer__contact,
.findOut {
  width: 17.3%;
  margin: 2rem 9.3rem 0 0;
}

.footer__logo {
  padding: 3rem 0 2rem 0;
}

.footer__link {
  display: block;
  text-decoration: none;
  padding-bottom: 0rem;
  transition: color 0.25s var(--cubic-bezier);
}

.footer__link {
  color: var(--color-white-100);
  font-size: 1.4rem;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer__link--grayColor {
  color: var(--text-secondary-color);
}

.footer__link:hover {
  color: var(--skyblue-color);
}

/* SECCIONES DE BOTONES HORIZONTALES INICIA EN LA LINEA 50 HASTA LA 68 DEL CODIGO portfolio.html */

.buttonsBar__btn {
  background-color: var(--background-bodycolor);
  color: var(--text-primary-color);
  font-family: var(--primary-fontFamily);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.8rem;
  transition: background 0.25s var(--cubic-bezier), box-shadow 0.25s var(--cubic-bezier);
}

.buttonsBar__btn:nth-child(1) {
  padding: 0.6rem 1.75rem;
}

.buttonsBar__btn:nth-child(2) {
  padding: 0.6rem 2.4rem;
}

.buttonsBar__btn:nth-child(3) {
  padding: 0.6rem 2.35rem;
}

.buttonsBar__btn:nth-child(4) {
  padding: 0.6rem 2.55rem;
}

.buttonsBar__btn:nth-child(5) {
  padding: 0.6rem 2.35rem;
}

.buttonsBar__btn:hover,
.buttonsBar__btn:focus {
  color: var(--color-white-100);
  background: var(--skyblue-color);
  box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.12);
  outline: none;
  cursor: pointer;
}

.buttonsBar__list {
  display: flex;
  justify-content: center;
  margin: 0;
}

.buttonsBar {
  padding: 9.4rem 0 0 0;
}

.cards {
  padding: 5rem 0 9.4rem 0;
}

.cards__title {
  color: var(--text-primary-color);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card__textDesign {
  color: var(--text-secondary-color);
  line-height: 1.8;
  letter-spacing: 0.03em;
}

.cards__list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 3rem;
}

.cards__item {
  flex-basis: calc(30.83333333%);
  border: 0.1rem solid #eeeeee;
}

.cards__content {
  position: relative;
  overflow: hidden;
}

.cards__text {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 6.3rem 2.3rem;
  background: rgba(33, 150, 243, 0.9);
  color: var(--color-white-100);
  font-weight: none;
  font-size: 1.8rem;
  line-height: 1.55;
  letter-spacing: 0.03em;
  transition: transform 0.25s var(--cubic-bezier);
}

.cards__item:hover .cards__text {
  cursor: pointer;
  transform: translateY(-100%);
}

.cards__item:hover {
  /*transform: translateY(-3%);*/
  box-shadow: 0rem 0.35rem 1.5rem rgba(0, 0, 0, 0.2);
}

.cards__title {
  margin: 3rem 2rem 1.5rem 2.4rem;
}

.cards__textDesign {
  margin: 0 0 2rem 2.4rem;
}

.cards__text {
  margin: 0 0 0 0;
}

.footer .container {
  display: flex;
  justify-content: left;
  align-items: center;
}

.findOut__text {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.142;
  letter-spacing: 0.03em;
  color: var(--color-white-100);
  margin: 0;
  text-transform: uppercase;
}

.findOut {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 6.2rem 9.3rem 0 0;
  height: auto;
  display: block;
}

.findOut__text {
  margin-top: 0rem;
}

.socialNetwork {
  padding: 0;
}

.socialNetwork__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.socialNetwork__icon {
  fill: var(--text-secondary-color);
}

.socialNetwork__link:hover,
.socialNetwork__link:focus {
  background: var(--skyblue-color);
  outline: none;
}

.suscribe {
  display: flex;
  flex-direction: column;
  margin-top: 7.5rem;
  padding-bottom: 1.8rem;
}

.formFooter__input[type='text'] {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1.5rem 1.6rem;
  background: rgba(47, 48, 58, 1);

  font-size: 1.6re;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--color-white-100);
  margin-top: 2rem;
  transition: border 0.25s var(--cubic-bezier);
}

.formFooter__input[type='text']:hover {
  border: 1px solid var(--skyblue-color);
}

.btn-footer[type='submit'] {
  display: inline-block;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  padding: 0;
  transition: background-color 0.25s var(--cubic-bezier);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: var(--skyblue-color);
  margin-left: 1.2rem;
  border: none;
  outline: none;
  color: var(--color-white-100);
}

.btn-Footer:hover {
  background-color: rgb(35, 134, 214);
  transform: scale(1.03);
}

.modal__icon-enviar {
  margin-left: 2rem;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  width: 52.8rem;
  height: 58.1rem;
  border-radius: 0.4rem;
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  padding: 4rem;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: 0;
}
.modal__btnClose {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__btnClose {
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 1.5%;
  top: 1.5%;
  transition: fill 0.25s var(--cubic-bezier);
}

.modal__btnClose:hover {
  background-color: #fff;
  fill: var(--skyblue-color);
}

.formModal__label {
  display: block;
}

.formModal__label {
  font-size: 1.2rem;
  line-height: 1.166;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(117, 117, 117, 1);
}

.modal__title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 1.2rem;
}

.modal__inputs,
.modal__textarea {
  display: inline-block;
}

.formModal__container-input {
  width: 100%;
  height: 4rem;
  margin-bottom: 1rem;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 0.4rem;
  margin-top: 0.4rem;
  outline: none;
}

.formModal__container-input {
  display: flex;
  align-items: center;
}

.formModal__container-input .modal__icon {
  margin: 0rem 1.2rem;
}

.modal__textarea {
  resize: none;
}

.formModal__container-input:hover,
.formModal__container-input:focus,
.formModal__container-input:focus-within,
.modal__labelTextarea:hover textarea,
.modal__labelTextarea:focus textarea,
.modal__labelTextarea:focus-within textarea {
  border: none;
  border: 1px solid var(--skyblue-color);
  border-radius: 0.4rem;
  fill: var(--skyblue-color);
  cursor: pointer;
  outline: none;
}

.modal__inputs {
  width: 100%;
  height: 100%;
  border-radius: 0.4rem;
  padding: 0;
  border: none;
  outline: none;
}
.modal__labelTextarea {
  width: 100%;
  height: 12rem;
  border: none;
  margin: 0.4rem 0rem 2rem 0rem;
  outline: none;
}

.modal__textarea {
  width: 100%;
  height: 12rem;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 0.4rem;
  padding: 1.6rem;
  outline: none;
  font-size: 1.2rem;
  line-height: 1.16;
  letter-spacing: 0.01em;
  text-align: left;
}

.check {
  display: flex;
  align-items: center;
  padding: 0 1.25rem;
}

.check__formModal {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 0px !important;
  width: 0px !important;
}

.check__formModal-label::before {
  content: '';
  display: block;
  width: 20px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 9px;
  margin-bottom: 20px;
  position: relative;
}

.check__formModal:checked + .check__formModal-label::before {
  background-image: url(../images/accepted3-min.svg);
  background-repeat: no-repeat;
  background-position: center center;
  border-color: #2196f3;
  background-color: #2196f3;
}

.check__formModal-label {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.formModal .sendBtn {
  background: rgba(33, 150, 243, 1);
  color: var(--color-white-100);
  flex: 1;
  padding: 0.98rem 7.5rem;
  margin: 0 auto;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 0.25s var(--cubic-bezier);
  margin-bottom: 30px;
}

.formModal .sendBtn:hover {
  background-color: rgb(35, 134, 214);
  transform: scale(1.01);
}

.containerBtn {
  margin: 0.4rem 12.4rem 0.1rem 12.4rem;
}
