.buttonsBar__btn {
  background-color: $background-bodycolor;
  color: $text-primary-color;
  font-family: $primary-fontFamily;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.8rem;
  transition: background 0.25s $cubic-bezier, box-shadow 0.25s $cubic-bezier;

  &:hover,
  &:focus {
    color: $color-white-100;
    background: $skyblue-color;
    box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.12);
    outline: none;
    cursor: pointer;
  }
}
