$text-primary-color: #212121;
$text-secondary-color: #757575;
$skyblue-color: #2196f3;
$background-bodycolor: #f5f4fa;
$background-headerfooter-color: #2f303a;
$color-white-100: #fff;
$primary-fontFamily: 'Roboto', sans-serif;
$secondary-fontFamily: 'Raleway', sans-serif;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
$borderHeader: #ececec;
