@import '../utils/variables';

.hero__solution {
  @include flex(column, '', center);
  max-width: 160rem;
  margin: 0 auto;
  padding: 20rem 0rem;
  text-align: center;
  .hero__title {
    font-size: 4.4rem;
    color: $color-white-100;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    width: 43.5%;
  }
}

.hero__solution {
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/img-hero-min-1.png);
  background-size: 100%, 160rem;
  background-repeat: no-repeat;
}
